<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Poll</title>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/knockout-3.0.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script>
    $(function () {
        function ViewModel() {
            var vm = this;

            vm.options = ko.observableArray();
            vm.currentOption = ko.observable();

            var pollHub = $.connection.poll;

            vm.nominate = function () {
                voteOrSubmit($('#nominate').val());
            };

            function OptionViewModel(name, votes) {
                var ovm = this;

                ovm.name = name;
                ovm.votes = ko.observable(votes);

                ovm.selected = ko.computed(function () {
                    return ovm.name === vm.currentOption();
                });

                ovm.proportion = ko.computed(function () {
                    var total = vm.options().reduce(function (a, b) {
                        return a + b.votes() + 1;
                    }, 0);
                    return (100 * (ovm.votes() + 1) / total);
                });

                ovm.vote = function () {
                    voteOrSubmit(ovm.name);
                };
            }

            function voteOrSubmit(option) {
                pollHub.server.vote(option);
                vm.currentOption(option);
            }

            pollHub.client.updateOption = function (name, votes) {
                var existing = ko.utils.arrayFirst(vm.options(), function (option) {
                    return option.name === name;
                });
                if (existing) {
                    existing.votes(votes);
                } else {
                    var newOption = new OptionViewModel(name, votes);
                    vm.options.push(newOption);
                }
            };

            pollHub.client.reset = function () {
                vm.options.removeAll();
            };

            $.connection.hub.start(function () {
                pollHub.server.register();
                $("#submit").removeAttr("disabled");
            });
        }

        ko.applyBindings(new ViewModel());
    });
    </script>
    <style>
        html, body { height: 100%; margin: 0; padding: 0; text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; background-color: black; color: white; font-size: 2em; }
        ul.options { height: 100%; margin: 0; padding: 0; width: 100%; }
        ul.options li { background-color: #00ff90; margin:0; padding: 0; width: 100%; }
        ul.options li:nth-child(even) { background-color: #ff006e; }
    </style>
</head>
<body>
    <ul class="options" data-bind="foreach: options">
        <li data-bind="click: vote, style: {height: proportion() + '%', fontSize: '10vw' }, text: name"></li>
    </ul>
</body>
</html>